In [42]:
import requests
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
marsFactsDf = pd.read_html(https://space-facts.com/mars/)

SyntaxError: invalid syntax (<ipython-input-43-eacfa3c3699a>, line 1)

,Unnamed: 0,"Country (or dependent territory, subnational area, etc.)",Estimate of civilian firearms per 100 persons,Region,Subregion,Population 2017,Estimate of firearms in civilian possession,Computation method,Registered firearms,Unregistered firearms,Notes
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,United States,120.5,Americas,North America,326474000.0,393347000,1.0,1073743.0,392273257.0,[note 2]
2,2.0,Falkland Islands,62.1,Americas,South America,3000.0,2000,2.0,1705.0,295.0,NaN
3,3.0,Yemen,52.8,Asia,Western Asia,28120000.0,14859000,2.0,NaN,NaN,NaN
4,4.0,New Caledonia,42.5,Oceania,Melanesia,270000.0,115000,2.0,55000.0,60000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
224,226.0,Christmas Island,0.0,Asia,South-East Asia,2000.0,–,2.0,NaN,NaN,NaN
225,227.0,Holy See,0.0,Europe,Southern Europe,1000.0,–,2.0,NaN,NaN,NaN
226,228.0,Indonesia,0.0,Asia,South-East Asia,263510000.0,82000,2.0,41102.0,40898.0,NaN
227,229.0,Nauru,0.0,Oceania,Melanesia,10000.0,–,2.0,NaN,NaN,NaN
228,230.0,Taiwan,0.0,Asia,East Asia,23405000.0,10000,2.0,5000.0,5000.0,NaN

In [22]:
url = 'https://space-facts.com/mars/'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html'
soup = BeautifulSoup(response.text, 'html.parser')

In [36]:
# Code from here
# https://pythonprogramminglanguage.com/web-scraping-with-pandas-and-beautifulsoup/
# https://stackoverflow.com/questions/50633050/scrape-tables-into-dataframe-with-beautifulsoup

table = soup.find_all('table')[0]
table_rows = table.find_all('tr')
table_rows

[<tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr>,
 <tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr>,
 <tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr>,
 <tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr>,
 <tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr>,
 <tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr>,
 <tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr>,
 <tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr>,
 <tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr>]

In [39]:
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
factsDf = pd.DataFrame(l)
factsDf

                       0                              1
0   Equatorial Diameter:                       6,792 km
1        Polar Diameter:                       6,752 km
2                  Mass:  6.39 × 10^23 kg (0.11 Earths)
3                 Moons:            2 (Phobos & Deimos)
4        Orbit Distance:       227,943,824 km (1.38 AU)
5          Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                    -87 to -5 °C
7          First Record:              2nd millennium BC
8           Recorded By:           Egyptian astronomers

In [41]:
htmlOutput = factsDf.to_html()
htmlOutput

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [30]:
df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [27]:
outDf = pd.DataFrame[df]

TypeError: 'type' object is not subscriptable

In [25]:
html = df.to_html()

AttributeError: 'list' object has no attribute 'to_html'

NameError: name 'tbody' is not defined

TypeError: 'NoneType' object is not callable

[{"#":"1","COUNTRY":"China","AMOUNT":"389 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"2","COUNTRY":"United States","AMOUNT":"245 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"3","COUNTRY":"Japan","AMOUNT":"99.18 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Group of 7 countries (G7) average (profile)","AMOUNT":"80.32 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"4","COUNTRY":"Brazil","AMOUNT":"75.98 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"5","COUNTRY":"Germany","AMOUNT":"65.12 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"6","COUNTRY":"India","AMOUNT":"61.34 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"7","COUNTRY":"Russia","AMOUNT":"59.7 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Non-religious countries average (profile)","AMOUNT":"51.56 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"8","COUNTRY":"United Kingdom","AMOUNT":"51.44 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"9","COUNTRY":"France","AMOUNT":"44.63 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"10","COUNTRY":"Nigeria","AMOUNT":"43.99 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"11","COUNTRY":"South Korea","AMOUNT":"39.4 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"12","COUNTRY":"Turkey","AMOUNT":"35 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Emerging markets average (profile)","AMOUNT":"32.99 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"13","COUNTRY":"Mexico","AMOUNT":"31.02 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"14","COUNTRY":"Italy","AMOUNT":"30.03 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"15","COUNTRY":"Spain","AMOUNT":"29.09 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"16","COUNTRY":"Canada","AMOUNT":"26.96 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"East Asia and Pacific average (profile)","AMOUNT":"25.43 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"High income OECD countries average (profile)","AMOUNT":"24.75 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Cold countries average (profile)","AMOUNT":"23.69 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"17","COUNTRY":"Vietnam","AMOUNT":"23.38 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"18","COUNTRY":"Colombia","AMOUNT":"22.54 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"19","COUNTRY":"Poland","AMOUNT":"22.45 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"20","COUNTRY":"Pakistan","AMOUNT":"20.43 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"21","COUNTRY":"Egypt","AMOUNT":"20.14 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"22","COUNTRY":"Indonesia","AMOUNT":"20 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Heavily indebted countries average (profile)","AMOUNT":"17.81 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"23","COUNTRY":"Thailand","AMOUNT":"17.48 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"South Asia average (profile)","AMOUNT":"16.69 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"24","COUNTRY":"Taiwan","AMOUNT":"16.15 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"25","COUNTRY":"Australia","AMOUNT":"15.81 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"26","COUNTRY":"Malaysia","AMOUNT":"15.36 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"27","COUNTRY":"Ukraine","AMOUNT":"15.3 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"28","COUNTRY":"Netherlands","AMOUNT":"14.87 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"29","COUNTRY":"Argentina","AMOUNT":"13.69 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Religious countries average (profile)","AMOUNT":"13.59 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"30","COUNTRY":"Morocco","AMOUNT":"13.21 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Eurozone average (profile)","AMOUNT":"12.48 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"NATO countries average (profile)","AMOUNT":"12.27 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"European Union average (profile)","AMOUNT":"10.69 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Former British colonies average (profile)","AMOUNT":"10.17 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"31","COUNTRY":"Saudi Arabia","AMOUNT":"9.77 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Europe average (profile)","AMOUNT":"9.61 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Catholic countries average (profile)","AMOUNT":"9.37 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"32","COUNTRY":"Peru","AMOUNT":"9.16 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"33","COUNTRY":"Venezuela","AMOUNT":"8.92 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Eastern Europe average (profile)","AMOUNT":"8.4 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"34","COUNTRY":"Sweden","AMOUNT":"8.4 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"35","COUNTRY":"Philippines","AMOUNT":"8.28 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Christian countries average (profile)","AMOUNT":"8.26 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"36","COUNTRY":"Iran","AMOUNT":"8.21 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"37","COUNTRY":"Belgium","AMOUNT":"8.11 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"38","COUNTRY":"Romania","AMOUNT":"7.79 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"South and Central Asia average (profile)","AMOUNT":"7.6 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"OPEC countries average (profile)","AMOUNT":"7.45 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"39","COUNTRY":"Chile","AMOUNT":"7.01 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"40","COUNTRY":"Czech Republic","AMOUNT":"6.68 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"41","COUNTRY":"Hungary","AMOUNT":"6.18 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"42","COUNTRY":"Austria","AMOUNT":"6.14 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Former Spanish colonies average (profile)","AMOUNT":"6.14 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"43","COUNTRY":"Switzerland","AMOUNT":"5.74 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Latin America and Caribbean average (profile)","AMOUNT":"5.71 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"failed states average (profile)","AMOUNT":"5.53 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"44","COUNTRY":"Kazakhstan","AMOUNT":"5.3 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"45","COUNTRY":"Portugal","AMOUNT":"5.17 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Potential Future EU Members average (profile)","AMOUNT":"5.1 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Muslim countries average (profile)","AMOUNT":"5.01 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"46","COUNTRY":"Greece","AMOUNT":"4.97 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Former Soviet republics average (profile)","AMOUNT":"4.93 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"47","COUNTRY":"Hong Kong","AMOUNT":"4.87 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"48","COUNTRY":"Denmark","AMOUNT":"4.75 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"49","COUNTRY":"Algeria","AMOUNT":"4.7 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"50","COUNTRY":"Uzbekistan","AMOUNT":"4.69 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Hot countries average (profile)","AMOUNT":"4.66 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"51","COUNTRY":"Israel","AMOUNT":"4.53 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Middle Eastern and North Africa average (profile)","AMOUNT":"4.51 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"52","COUNTRY":"Finland","AMOUNT":"4.48 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"53","COUNTRY":"Syria","AMOUNT":"4.47 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"54","COUNTRY":"Belarus","AMOUNT":"4.44 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"55","COUNTRY":"Norway","AMOUNT":"4.43 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"56","COUNTRY":"South Africa","AMOUNT":"4.42 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"57","COUNTRY":"Sudan","AMOUNT":"4.2 million","DATE":2008,"GRAPH":null,"HISTORY":null},{"#":"58","COUNTRY":"Serbia","AMOUNT":"4.11 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"59","COUNTRY":"Slovakia","AMOUNT":"4.06 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"60","COUNTRY":"Kenya","AMOUNT":"4 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"61","COUNTRY":"Azerbaijan","AMOUNT":"3.69 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"62","COUNTRY":"Tunisia","AMOUNT":"3.5 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"63","COUNTRY":"United Arab Emirates","AMOUNT":"3.45 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Tourist destinations average (profile)","AMOUNT":"3.42 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"64","COUNTRY":"New Zealand","AMOUNT":"3.4 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"65","COUNTRY":"Bulgaria","AMOUNT":"3.4 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"66","COUNTRY":"Ecuador","AMOUNT":"3.35 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"67","COUNTRY":"Singapore","AMOUNT":"3.23 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"68","COUNTRY":"Uganda","AMOUNT":"3.2 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"69","COUNTRY":"Ireland","AMOUNT":"3.04 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"70","COUNTRY":"Dominican Republic","AMOUNT":"2.7 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"71","COUNTRY":"Yemen","AMOUNT":"2.35 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Former French colonies average (profile)","AMOUNT":"2.31 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"72","COUNTRY":"Guatemala","AMOUNT":"2.28 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"73","COUNTRY":"Croatia","AMOUNT":"2.24 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"74","COUNTRY":"Kyrgyzstan","AMOUNT":"2.19 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"75","COUNTRY":"Lithuania","AMOUNT":"2.1 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"76","COUNTRY":"Senegal","AMOUNT":"1.82 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"77","COUNTRY":"Sri Lanka","AMOUNT":"1.78 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Landlocked countries average (profile)","AMOUNT":"1.64 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"78","COUNTRY":"Jordan","AMOUNT":"1.64 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":null,"COUNTRY":"Sub-Saharan Africa average (profile)","AMOUNT":"1.62 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"79","COUNTRY":"Cuba","AMOUNT":"1.61 million","DATE":2013,"GRAPH":null,"HISTORY":null},{"#":"80","COUNTRY":"Jamaica","AMOUNT":"1.58 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"81","COUNTRY":"Latvia","AMOUNT":"1.5 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"82","COUNTRY":"Costa Rica","AMOUNT":"1.49 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"83","COUNTRY":"Oman","AMOUNT":"1.47 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"84","COUNTRY":"Bosnia and Herzegovina","AMOUNT":"1.44 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"85","COUNTRY":"Zimbabwe","AMOUNT":"1.42 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"86","COUNTRY":"Uruguay","AMOUNT":"1.41 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=87","COUNTRY":"Gaza Strip","AMOUNT":"1.38 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=87","COUNTRY":"West Bank","AMOUNT":"1.38 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=89","COUNTRY":"Georgia","AMOUNT":"1.3 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"=89","COUNTRY":"Albania","AMOUNT":"1.3 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"91","COUNTRY":"Slovenia","AMOUNT":"1.3 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"92","COUNTRY":"Ghana","AMOUNT":"1.3 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"93","COUNTRY":"Moldova","AMOUNT":"1.29 million","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"94","COUNTRY":"Paraguay","AMOUNT":"1.1 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"95","COUNTRY":"Bolivia","AMOUNT":"1.1 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"96","COUNTRY":"Kuwait","AMOUNT":"1.1 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"97","COUNTRY":"Republic of Macedonia","AMOUNT":"1.06 million","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=98","COUNTRY":"Afghanistan","AMOUNT":"1000000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=98","COUNTRY":"Lebanon","AMOUNT":"1000000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=98","COUNTRY":"Puerto Rico","AMOUNT":"1000000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=98","COUNTRY":"Haiti","AMOUNT":"1000000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"102","COUNTRY":"Estonia","AMOUNT":"969700","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"103","COUNTRY":"Cote d'Ivoire","AMOUNT":"967300","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"104","COUNTRY":"Panama","AMOUNT":"959800","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"105","COUNTRY":"Zambia","AMOUNT":"816200","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"106","COUNTRY":"Cameroon","AMOUNT":"749600","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"107","COUNTRY":"El Salvador","AMOUNT":"746000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"108","COUNTRY":"Honduras","AMOUNT":"731700","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"109","COUNTRY":"Malawi","AMOUNT":"716400","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"110","COUNTRY":"Tajikistan","AMOUNT":"700000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"111","COUNTRY":"Tanzania","AMOUNT":"678000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"112","COUNTRY":"Bangladesh","AMOUNT":"617300","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"113","COUNTRY":"Mozambique","AMOUNT":"613600","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"114","COUNTRY":"Angola","AMOUNT":"606700","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"115","COUNTRY":"Trinidad and Tobago","AMOUNT":"593000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"116","COUNTRY":"Nepal","AMOUNT":"577800","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"117","COUNTRY":"Qatar","AMOUNT":"563800","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"118","COUNTRY":"Rwanda","AMOUNT":"450000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"119","COUNTRY":"Ethiopia","AMOUNT":"447300","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"120","COUNTRY":"Cyprus","AMOUNT":"433800","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"121","COUNTRY":"Luxembourg","AMOUNT":"424500","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"122","COUNTRY":"Bahrain","AMOUNT":"419500","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"123","COUNTRY":"Togo","AMOUNT":"356300","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"124","COUNTRY":"Libya","AMOUNT":"353900","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"125","COUNTRY":"Mongolia","AMOUNT":"330000","DATE":2008,"GRAPH":null,"HISTORY":null},{"#":"126","COUNTRY":"Iraq","AMOUNT":"325900","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"127","COUNTRY":"Madagascar","AMOUNT":"319900","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"128","COUNTRY":"Brunei","AMOUNT":"314900","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"129","COUNTRY":"Iceland","AMOUNT":"301600","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"130","COUNTRY":"Laos","AMOUNT":"300000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=131","COUNTRY":"Mauritius","AMOUNT":"290000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=131","COUNTRY":"Democratic Republic of the Congo","AMOUNT":"290000","DATE":2008,"GRAPH":null,"HISTORY":null},{"#":"133","COUNTRY":"Montenegro","AMOUNT":"280000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"134","COUNTRY":"Macau","AMOUNT":"270200","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"135","COUNTRY":"Mali","AMOUNT":"249800","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"136","COUNTRY":"Congo, Republic of the","AMOUNT":"245200","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"137","COUNTRY":"Malta","AMOUNT":"240600","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"138","COUNTRY":"Armenia","AMOUNT":"208200","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"139","COUNTRY":"Benin","AMOUNT":"200100","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"140","COUNTRY":"Eritrea","AMOUNT":"200000","DATE":2008,"GRAPH":null,"HISTORY":null},{"#":"141","COUNTRY":"Nicaragua","AMOUNT":"199800","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"142","COUNTRY":"Guyana","AMOUNT":"189600","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"143","COUNTRY":"Barbados","AMOUNT":"188000","DATE":2008,"GRAPH":null,"HISTORY":null},{"#":"144","COUNTRY":"Burkina Faso","AMOUNT":"178100","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"145","COUNTRY":"Chad","AMOUNT":"168100","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"146","COUNTRY":"Suriname","AMOUNT":"163000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"147","COUNTRY":"Burundi","AMOUNT":"157800","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"148","COUNTRY":"Cape Verde","AMOUNT":"150000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"149","COUNTRY":"Saint Lucia","AMOUNT":"142900","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"150","COUNTRY":"The Gambia","AMOUNT":"130100","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"151","COUNTRY":"Namibia","AMOUNT":"127500","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"152","COUNTRY":"Papua New Guinea","AMOUNT":"125000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=153","COUNTRY":"Botswana","AMOUNT":"120000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"=153","COUNTRY":"French Polynesia","AMOUNT":"120000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"155","COUNTRY":"Niger","AMOUNT":"115900","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"156","COUNTRY":"The Bahamas","AMOUNT":"115800","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"157","COUNTRY":"Fiji","AMOUNT":"114200","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"158","COUNTRY":"Burma","AMOUNT":"110000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"159","COUNTRY":"Somalia","AMOUNT":"106000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"160","COUNTRY":"Gabon","AMOUNT":"98800","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"161","COUNTRY":"Guinea","AMOUNT":"95000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"162","COUNTRY":"Swaziland","AMOUNT":"90100","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"163","COUNTRY":"Guam","AMOUNT":"90000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"164","COUNTRY":"Maldives","AMOUNT":"86400","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"165","COUNTRY":"New Caledonia","AMOUNT":"85000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"166","COUNTRY":"Turkmenistan","AMOUNT":"80400","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"167","COUNTRY":"Cambodia","AMOUNT":"78500","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"168","COUNTRY":"Lesotho","AMOUNT":"76800","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"169","COUNTRY":"Saint Vincent and the Grenadines","AMOUNT":"76000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"170","COUNTRY":"Mauritania","AMOUNT":"75000","DATE":2009,"GRAPH":null,"HISTORY":null},{"#":"171","COUNTRY":"Andorra","AMOUNT":"67200","DATE":2010,"GRAPH":null,"HISTORY":null},{"#":"172","COUNTRY":"Antigu

In [17]:
df

[        #                                        COUNTRY         AMOUNT  DATE  \
 0       1                                          China    389 million  2009
 1       2                                  United States    245 million  2009
 2       3                                          Japan  99.18 million  2009
 3     NaN    Group of 7 countries (G7) average (profile)  80.32 million  2009
 4       4                                         Brazil  75.98 million  2009
 ..    ...                                            ...            ...   ...
 244   214                                           Niue           1100  2009
 245  =215  Saint Helena, Ascension, and Tristan da Cunha            900  2009
 246  =215                                   Saint Helena            900  2009
 247   217                                        Tokelau            800  2008
 248   218                               Christmas Island            464  2001

      GRAPH  HISTORY
 0      NaN      NaN
 1      NaN      NaN
 2      NaN      NaN
 3      NaN      NaN
 4      NaN      NaN
 ..     ...      ...
 244    NaN      NaN
 245    NaN      NaN
 246    NaN      NaN
 247    NaN      NaN
 248    NaN      NaN

 [249 rows x 6 columns]]